.header {
  display: flex;
  justify-content: space-between;
}
.header button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
header h1 {
  font-size: 2rem;
  color: white;
  
}

header img {
  width: 2rem;
}
header span {
  
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
  margin-right: 1rem;
  letter-spacing: 0.3em;
}
