.welcome_text_container {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 3rem 2rem;
    position: relative;
}
.logo {
    margin-bottom: 1rem;
}
.welcome_h2 {
   margin-bottom: 2rem; 
   font-size: 2rem;
}
.welcome_h2:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 15%;
    height: 13%;
    width: 70%;
    /* z-index: -1; */
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: linear-gradient(to top left, #39b385, #9be15d);
  }
/* .welcome_h2:hover {
    background-size: 100% 100%;
    background-position: 0% 100%;
    transition: background-position .7s, background-size .5s ease-in-out;
  } */

  @media only screen and (max-width: 840px) {
    .welcome_text_container {
      padding: 2rem 1rem;
    }

    .welcome_h2 {
      font-size: 1.5rem;
    }
    .welcome_h2:after {
      top: 45%;
      left: 10%;
      width: 80%;
    }
  }
  
