.user_info_container {
  display: grid;
  width: 100%;
  grid-template-columns: [first] 25% [line2] auto [line3] 30% [end];
  grid-template-rows: [row1] 4rem [row2] 4rem;
}
.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-right: 1rem;
}
.img_container img {
  height: 100%;
  border-radius: 50%;
}
.user_info_container h1,
h3,
h5 {
  color: white;
}
.user_info_container h3,
h5 {
  font-weight: 300;
}
.user_info_container span {
  color: darkblue;
}

@media only screen and (max-width: 850px) {
  .user_info_container {
    grid-template-columns: [first] 25% [line2] 5% [line3] auto [end];
    grid-template-rows: [row1] 4rem [row2] 4rem [row3] 1rem [row3] 2rem [end]
  }
  .bio_container {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    /* grid-row-end: 4; */
    
  }
  .name, h3 {
    grid-column-start: 3;
    grid-column-end: 4;
  }
}
